<%= form_for @car do |f| %>
  <p>
    <%= f.label :make %>
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :model %>
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.submit 'Create Car' %>
  </p>
<% end %>

<% @cars.each do |car| %>
<ul>
  <li><%= link_to "#{car.make}", car_path(car) %></li>
  <li><%= car.model %></li>
</ul>
<% end %>